<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>luizpvas.github.io</title>
    <link rel="stylesheet" href="index.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TMTHS88G9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7TMTHS88G9');
    </script>
  </head>
  <body class="bg-slate-200 dark:bg-slate-800 dark:text-white">
    <main class="max-w-screen-md mx-auto my-4">
      <h1 class="text-3xl text-center tracking-tight">All posts</h1>

      <div class="mt-4 flex justify-center items-center gap-2">
        <img src="https://avatars.githubusercontent.com/u/4276593?v=4" class="rounded-lg" width="50" height="50" />

        <div class="flex flex-col text-sm gap-1">
          <a href="https://github.com/luizpvas/" target="_blank" class="underline hover:text-blue-500">
            https://github.com/luizpvas
          </a>

          <a href="https://www.linkedin.com/in/luizpvas/" target="_blank" class="underline hover:text-blue-500">
            https://www.linkedin.com/in/luizpvas
          </a>
        </div>
      </div>

      <div class="mt-8 grid gap-2 mx-2 lg:mx-0 bg-slate-50 rounded-3xl py-4">
        <% posts.each do |post| %>
          <a href="/<%= post.id %>.html" class="py-4 px-8 hover:text-blue-500">
            <div class="font-bold text-lg"><%= post.metadata.title %></div>

            <p class="hidden"><%= post.metadata.summary %></p>

            <div class="mt-1 text-sm text-slate-500 dark:text-slate-400">Published on <%= post.metadata.publication_date %></div>
          </a>
        <% end %>
      </div>
    </main>
  </body>
</html>
