<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= post.metadata.title %></title>
    <link rel="stylesheet" href="index.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TMTHS88G9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7TMTHS88G9');
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/haskell.min.js"></script>
  </head>
  <body class="bg-slate-100 dark:bg-slate-800 dark:text-white">
    <main class="max-w-[960px] mx-auto pt-4">
      <div class="mx-4 lg:mx-0">
        <a href="index.html" class="inline-flex border border-gray-300 dark:border-slate-900 items-center bg-slate-50 dark:bg-slate-700 hover:bg-white hover:border-black px-3 py-1 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
          </svg>

          <span class="ml-1">All posts</span>
        </a>

        <div class="dark:border-slate-900 mb-4">
          <h1 class="my-6 text-5xl tracking-tight"><%= post.metadata.title %></h1>
          <div class="text-slate-500 dark:text-slate-300 my-2">Published on <%= post.metadata.publication_date %></div>
        </div>
      </div>

      <div class="prose dark:prose-invert lg:prose-xl mb-12 bg-white shadow-lg rounded-xl mx-auto max-w-[960px] p-8">
        <%= post.html_body %>
      </div>
    </main>

    <script>hljs.highlightAll();</script>
  </body>
</html>
